

.sidebarstyle{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-block: 24px;
}

.logoutButton{
  position: absolute;
  right: 20px;
  color: #000000;
}


.titleClasses  {
  font-size: 24px;
  font-weight: 600;
  color: black;
};

.backgroundCustomColor{
  background-color: white !important;
  justify-content: center;
  color: #000000;

}