/* @import 'react-phone-number-input/style.css' */
@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
  @apply mx-5;


}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}


.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
  opacity: 1;
    transform: inherit !important;
    transition: inherit !important ;
    top: 286px !important;
    height:300px;
    left:0 !important;
    right:0 !important;
    margin:auto !important;
    max-width:300px;
    transform-origin: inherit !important;
}


.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root{

z-index:10000 !important;
}

html, body{
  height:unset !important;
  margin-top: 63px;
  /* min-height: calc(100vh - 64px); */
  /* min-height: calc(100vh - 100px); */


}

@media only screen and (max-width: 600px) {
  html, body{

    
    margin-top: 56px;
    /* min-height: calc(100vh - 56px); */
  
  }
}

.Toastify{
  position:relative;
  z-index:10000
}

.Toastify__toast-body{ 
  text-transform: capitalize;
}


@media only screen and (max-width:991px){

  .MuiTableCell-root{
    display:block !important;
    padding: 0px 5px;
  
  }
  .MuiTableCell-root .MuiTableCell-root{
    display:table-cell !important
  }
}



.footer-wrapper-class{
  font-size: 12px;
  text-align: center;
  background: #d3d3d3;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
z-index: 9999;
padding:1px 0px;

}