.guest-signIn-page-wrapper {
  align-items: start;
  display: flex;
  justify-content: center;
  min-height: 85vh;

}

.signIn-page-inner-wrapper {
  width:100%;
  max-width: 456px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;

  p{
    margin: 0;
  }
}


.signup-page-inner-wrapper {
  width:100%;
  max-width: 800px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;

  p{
    margin: 0;
    background-color: #ececec;
  }
  
  
}

.inputFieldWidth{
width: 49%;
@media (max-width: 768px) {
  width: 100%

}
}

.forget-pass-wrap {
  padding: 0px 5px 0px 0px;
  display: flex;
  justify-content: flex-end;
}

.heading-top {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  display: block;
  padding-bottom: 20px;
  color: #091C22;
}

 .sign-up-button {
  margin-top: 20px;
  min-width: 100%;
  margin-bottom: 10px;
}

 button.sign-up-button {
  margin-top: 15px;
  
  border: none;
  border-radius: 5px;
  padding: 12px 0px;
  
  font-weight: 600;
  color: white;
  background-color: black;
  &:hover {
    background: black !important;
  }
  &:active {
    box-shadow: 0px 0px 15px #7c050559 !important;
  }
}

.logo {
  text-align: center;

  svg {
    width: 140px;
    height: auto;
  }
}

.forget-password {
  color: gray;
  font-size: 13px;
  cursor: pointer;
  &:hover{
  color: #f31c23;

  }
}

.signUp {
  text-align: center;
  & span {
    color: black;
    font-weight: 600;
    cursor: pointer;
    margin-left: 5px;
  }
}


